<body>
  <div class="container canvas-container">
      <div class="row">
        <div class="col-md-12">
          <h2>Andamento delle Reazioni nel Tempo</h2>
          <!-- Aggiungi un canvas per il grafico -->
          <canvas id="myChart" class="chart-canvas"></canvas>
        </div>
      </div>
  </div>
  <hr>
  <div class="container canvas-container">
    <div class="row">
      <div class="col-md-12">
        <h2>Rapporto reazioni pos/neg nel Tempo</h2>
        <!-- Aggiungi un canvas per il grafico -->
        <canvas id="myChartDifference" class="chart-canvas"></canvas>
      </div>
    </div>
  </div>
  <hr>
  <div class="container canvas-container">
    <div class="row">
      <div class="col-md-12">
        <h2>Andamento delle pubblicazioni nel tempo</h2>
        <!-- Aggiungi un canvas per il grafico -->
        <canvas id="myChartPosts" class="chart-canvas"></canvas>
      </div>
    </div>
  </div>
  <hr>
  <div class="container canvas-container">
    <div class="row">
      <div class="col-md-12">
        <h2>Andamento delle pubblicazioni nel tempo</h2>
        <!-- Aggiungi un canvas per il grafico -->
        <canvas id="answersChart" class="chart-canvas"></canvas>
      </div>
    </div>
  </div>
  <hr style = "margin-bottom: 8%;">
</body>