<body>
  <div class="container canvas-container">
      <div class="row">
        <div class="col-md-12">
          <h2>Trend of Reactions over Time</h2>
          <canvas id="myChart" class="chart-canvas"></canvas>
        </div>
      </div>
  </div>
  <hr>
  <div class="container canvas-container">
    <div class="row">
      <div class="col-md-12">
        <h2>Pos/neg reaction ratio over Time</h2>
        <canvas id="myChartDifference" class="chart-canvas"></canvas>
      </div>
    </div>
  </div>
  <hr>
  <div class="container canvas-container">
    <div class="row">
      <div class="col-md-12">
        <h2>Trend of publications over time</h2>
        <canvas id="myChartPosts" class="chart-canvas"></canvas>
      </div>
    </div>
  </div>
  <hr style = "margin-bottom: 8%;">
</body>