:root{
    --bgcolor: black;
    --header-medium-width: 300px;
    --header-small-width: 80px;
    --size-of-icon:1.4em;
    --slider-offset:0.3em;
    --header-height-cell: 60px;
}

::-webkit-scrollbar{
    display: none;
}

*{
    box-sizing: border-box;
}

*:focus{
    outline:none;
}

body{
    overflow:hidden;
}

.switch{
    float:right;
    position:relative;
    width: 3.5em;
    height: 2em;
    margin-top: 2%;
}

.switch input{
    opacity:0;
    width:0;
    height:0;
}

.slider{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #f4f4f5;
    transition: 0.4s;
    border-radius:30px;
}

.slider:before{
    position:absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width:var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top:50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before{
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.slider2{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #f4f4f5;
    transition: 0.4s;
    border-radius:30px;
}

.slider2:before{
    position:absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width:var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top:50%;
    transform: translateY(-50%);
    background: #ff0000;
    transition: 0.4s;
}

input:checked + .slider2 {
    background-color: #303136;
}

input:checked + .slider2:before{
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #00ff00a0;
}

.dark-mode-toggle{
    background-color: #E6E6E6;
    color: #212121;
}

.dark-mode-theme{
    background: #212121;
    color:#E6E6E6;
}

.settings{
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}

@keyframes fade-in{
    5%{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    90%{
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes load{
    to{
        transform: scaleX(1);
    }
}

.notification{
    position:absolute;
    bottom: 50px;
    left:50px;
    width: max-content;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #141619;
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    transform: translateY(30px);
    opacity: 0;
    font-size:16px;
    visibility: hidden;
    animation: fade-in 4s linear forwards;
}

.notification_progress{
    position:absolute;
    left:5px;
    bottom:5px;
    width: calc(100% - 10px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background-image: linear-gradient(to right, #539bdb, #3250bf);
    border-radius: inherit;
    animation: load 3s 0.25s linear forwards;
}

.header1{
    position: absolute;
    left:0;
    width:var(--header-medium-width);
    height:100%;
    background-color: #212121;
    top:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f6f5f9;
}

.header2{
    position: absolute;
    left:0;
    width:var(--header-small-width);
    height:100%;
    background-color: #212121;
    top:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f6f5f9;
}

.header3{
    position: absolute;
    left:0;
    width:100%;
    height:var(--header-height-cell);
    background-color: #212121;
    top:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f6f5f9;
}

.footer{
    position: absolute;
    left:0;
    width:100%;
    height:var(--header-height-cell);
    background-color: #212121;
    bottom:0;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #f6f5f9;
}

.header1 img{
    height:10%;
    position:relative;
    margin-bottom:7%;
}

.header1 nav{
    position:relative;
    width:80%;
    height:10%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #f6f5f9;
    margin-bottom:5%;
}

.header1 nav button{
    position: relative;
    width:25%;
    height:100%;
    cursor:pointer;
    background-color: transparent;
    border:0;
}

.header1 nav img{
    width:auto;
    height:50%;
    cursor:pointer;
}

.headeroptions{
    position:relative;
    width:80%;
    height:60%;
}

.settings p{
    position:relative;
    color:#f6f5f9;
    font-size:16px;
    width:60%;
    padding-top:0;
}

.settings div{
    width:100%;
    display:flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-between;
}

.menuoptions{
    position:relative;
    width:100%;
}

.menuoptions button{
    position:relative;
    color:#f6f5f9;
    font-size:18px;
    margin-top:1em;
    margin-bottom:0.5em;
    background-color: transparent;
    border:0;
    width:100%;
    left:0;
    cursor:pointer;
}

.profileoptions{
    position:relative;
    width:80%;
}

.profileoptions p{
    width:40%;
    position:relative;
    font-size:16px;
    color:#f6f5f9;
    margin-bottom:2px;
    margin-top:1.5em;
}

.profileoptions input{
    width:100%;
    position:relative;
    background-color: transparent;
    border:1px solid #f6f5f9;
    height:10%;
    color:#f6f5f9;
    font-size:17px;
    padding-left:0.5em;
    cursor:not-allowed;
}

.header2 button{
    position:relative;
    width:30px;
    height:30px;
    margin-bottom:20px;
    border:0;
    background-color: transparent;
    cursor:pointer;
}

.header2 img{
    position:absolute;
    width:100%;
    height:auto;
    left:0;
    top:0;
}

.header3 img{
    height:80%;
}

.footer button{
    position:relative;
    width:30px;
    height:30px;
    margin-bottom:20px;
    border:0;
    background-color: transparent;
    cursor:pointer;
    margin:15px;
}

.footer img{
    position:absolute;
    height:100%;
    width:auto;
    left:0;
    top:0;
}

main{
    position:absolute;
}

@media (width>1264px){
    main{
        width:calc(100% - var(--header-medium-width));
        left:var(--header-medium-width);
        height:100%;
        top:0;
    }

    .header2,
    .header3,
    .footer{
        display:none;
    }
}

@media (width<=1264px) and (width>766px){
    main{
        width:calc(100% - var(--header-small-width));
        left:var(--header-small-width);
        height:100%;
        top:0;
    }

    .header1,
    .header3,
    .footer{
        display:none;
    }
}

@media (width<=766px){
    main{
        width:100%;
        left:0;
        height:calc(100% - (var(--header-height-cell)*2));
        top:var(--header-height-cell);
    }

    .header1,
    .header2{
        display:none;
    }
}