:root{
    --bgcolor: black;
    --header-medium-width: 300px;
    --header-small-width: 80px;
    --size-of-icon:1.4em;
    --slider-offset:0.3em;
    --header-height-cell: 60px;
}

::-webkit-scrollbar{
    display: none;
}

*{
    box-sizing: border-box;
}

*:focus{
    outline:none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
}

textarea{
    resize:none;
    font-family: Arial, Helvetica, sans-serif;
}

.switch{
    float:right;
    position:relative;
    width: 3.5em;
    height: 2em;
    margin-top: 2%;
}

.switch input{
    opacity:0;
    width:0;
    height:0;
}

.slider{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #f4f4f5;
    transition: 0.4s;
    border-radius:30px;
}

.slider:before{
    position:absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width:var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top:50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before{
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.slider2{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #f4f4f5;
    transition: 0.4s;
    border-radius:30px;
}

.slider2:before{
    position:absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width:var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top:50%;
    transform: translateY(-50%);
    background: #ff0000;
    transition: 0.4s;
}

input:checked + .slider2 {
    background-color: #303136;
}

input:checked + .slider2:before{
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #00ff00a0;
}

.dark-mode-toggle{
    background-color: #E6E6E6;
    color: #212121;
}

.dark-mode-theme{
    background: #212121;
    color:#E6E6E6;
}

.settings{
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
}

@keyframes fade-in{
    5%{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    90%{
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes load{
    to{
        transform: scaleX(1);
    }
}

.notification{
    position:absolute;
    bottom: 50px;
    left:50px;
    width: max-content;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #141619;
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    transform: translateY(30px);
    opacity: 0;
    font-size:16px;
    visibility: hidden;
    animation: fade-in 4s linear forwards;
}

.notification_progress{
    position:absolute;
    left:5px;
    bottom:5px;
    width: calc(100% - 10px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background-image: linear-gradient(to right, #539bdb, #3250bf);
    border-radius: inherit;
    animation: load 3s 0.25s linear forwards;
}

.header1{
    position: absolute;
    left:0;
    width:var(--header-medium-width);
    height:100%;
    background-color: #212121;
    top:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f6f5f9;
}

.header2{
    position: absolute;
    left:0;
    width:var(--header-small-width);
    height:100%;
    background-color: #212121;
    top:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f6f5f9;
}

.header3{
    position: absolute;
    left:0;
    width:100%;
    height:var(--header-height-cell);
    background-color: #212121;
    top:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f6f5f9;
}

.footer{
    position: absolute;
    left:0;
    width:100%;
    height:var(--header-height-cell);
    background-color: #212121;
    bottom:0;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #f6f5f9;
}

.header1 img{
    height:10%;
    position:relative;
    margin-bottom:7%;
}

.header1 nav{
    position:relative;
    width:80%;
    height:10%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #f6f5f9;
    margin-bottom:5%;
}

.header1 nav button{
    position: relative;
    width:25%;
    height:100%;
    cursor:pointer;
    background-color: transparent;
    border:0;
}

.header1 nav img{
    width:auto;
    height:50%;
    cursor:pointer;
    transition: 0.4s;
}

.header1 nav img:hover{
    transform: scale(110%);
}

.headeroptions{
    position:relative;
    width:80%;
    height:60%;
}

.settings p{
    position:relative;
    color:#f6f5f9;
    font-size:16px;
    width:60%;
    padding-top:0;
}

.settings div{
    width:100%;
    display:flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-between;
}

.settings button{
    width:70%;
    margin-left:15%;
    margin-top:10%;
    border:0;
    border-radius:5px;
    padding: 0.6em 0.4em 0.6em 0.4em;
    font-size:16px;
    background-color: #539bdb;
    transition: 0.4s;
    cursor:pointer;
}

.settings button:active{
    transform: scale(0.95);
}

.menuoptions{
    position:relative;
    width:100%;
}

.menuoptions button{
    position:relative;
    color:#f6f5f9;
    font-size:18px;
    background-color: transparent;
    border:0;
    width:100%;
    left:0;
    cursor:pointer;
    transition: 0.4s;
    padding:1em;
    border-radius:12px;
    margin-bottom:10px;
}

.menuoptions button:hover{
    background-color: #696969;
}

.profileoptions{
    position:relative;
    width:80%;
}

.profileoptions p{
    width:40%;
    position:relative;
    font-size:16px;
    color:#f6f5f9;
    margin-bottom:2px;
    margin-top:1.5em;
}

.profileoptions input{
    width:100%;
    position:relative;
    background-color: transparent;
    border:1px solid #f6f5f9;
    height:10%;
    color:#f6f5f9;
    font-size:17px;
    padding-left:0.5em;
    cursor:not-allowed;
}

.profileoptions a{
    display:block;
    width:100%;
    position:relative;
    background-color: transparent;
    font-size:20px;
    color:#f6f5f9;
    margin-bottom:2px;
    margin-top:1.5em;
    text-decoration: none;
    text-align: center;
}

.header2 button{
    position:relative;
    width:30px;
    height:30px;
    margin-bottom:20px;
    border:0;
    background-color: transparent;
    cursor:pointer;
}

.header2 img{
    position:absolute;
    width:100%;
    height:auto;
    left:0;
    top:0;
    transition: 0.4s;
}

.header2 img:hover{
    transform: scale(110%);
}

.header3 img{
    height:80%;
}

.footer button{
    position:relative;
    width:30px;
    height:30px;
    border:0;
    background-color: transparent;
    cursor:pointer;
    margin:15px;
}

.footer img{
    position:absolute;
    height:100%;
    width:auto;
    left:0;
    top:0;
    transition: 0.4s;
}

.footer img:hover{
    transform: scale(110%);
}

main{
    position:absolute;
    overflow-x:hidden;
    overflow-y:scroll;
}

.payment{
    position:absolute;
    overflow:hidden;
    background-color: #141619;
}

@media (width>1264px){
    main{
        width:calc(100% - var(--header-medium-width));
        left:var(--header-medium-width);
        height:100%;
        top:0;
    }

    .payment{
        width:calc(100% - var(--header-medium-width));
        left:var(--header-medium-width);
        height:100%;
        top:0;
    }

    .header2,
    .header3,
    .footer{
        display:none;
    }
}

@media (width<=1264px) and (width>766px){
    main{
        width:calc(100% - var(--header-small-width));
        left:var(--header-small-width);
        height:100%;
        top:0;
    }

    .payment{
        width:calc(100% - var(--header-small-width));
        left:var(--header-small-width);
        height:100%;
        top:0;
    }

    .header1,
    .header3,
    .footer{
        display:none;
    }
}

@media (width<=766px){
    main{
        width:100%;
        left:0;
        height:calc(100% - (var(--header-height-cell)*2));
        top:var(--header-height-cell);
    }

    .payment{
        width:100%;
        left:0;
        height:calc(100% - (var(--header-height-cell)*2));
        top:var(--header-height-cell);
    }

    .header1,
    .header2{
        display:none;
    }
}

.search{
    position: absolute;
    display:inline-flex;
    padding: 5px;
    border-radius:50px;
    transition: 0.4s;
    background-color: #141619;
    top:5%;
    min-width:50px;
    min-height:50px;
    align-items:center;
    justify-content: center;
    left:calc((100% - 50px)/2);
}

.search img{
    height:35px;
    width:35px;
}

.search input{
    transition: 0.4s;
    border:0;
    background-color: transparent;
    font-size:20px;
    max-width:0px;
    padding:0;
    text-indent: 12px;
    color:#f5f6f9;
}

.search input::placeholder{
    color:rgba(255, 255, 255, 0.375);
}

.search:hover{
    left:calc((100% - 300px)/2);
}

.search:hover img{
    margin-left:5px;
}

.search:hover input{
    max-width:250px;
}

.messaggio{
    display:flex;
    width:100%;
    height:100%;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}

.messaggio textarea{
    width:40%;
    margin:1%;
    border-radius:5px;
    height:30%;
    padding:0.6em;
    font-size:16px;
    border:1px solid black;
}

.messaggio input{
    width:40%;
    margin:1%;
    padding: 1em 0.6em 1em 0.6em;
    border-radius:5px;
    font-size:16px;
    border:1px solid black;
}

.messaggio div{
    position:relative;
    width:40%;
    margin:1%;
    border:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.messaggio div img{
    position: relative;
    height:30px;
    top:0;
}

.messaggio p{
    position:relative;
    font-size:16px;
    margin:0;
}

.messaggio .locationbtn{
    background-color:blue;
    padding: 0.8em 1em 0.8em 1em;
    font-size:16px;
    border:0;
    margin:1%;
    color:#f5f6f9;
    cursor:pointer;
    border-radius:5px;
    transition: 0.4s;
}

.messaggio .locationbtn:active{
    transform: scale(0.95);
}

.messaggio .send{
    background-color:blue;
    padding: 0.8em 1em 0.8em 1em;
    font-size:16px;
    border:0;
    margin:1%;
    color:#f5f6f9;
    cursor:pointer;
    border-radius:5px;
    transition: 0.4s;
}

.messaggio .send:active{
    transform: scale(0.95);
}

.datipaypal{
    position:absolute;
    height: 80%;
    top:10%;
    min-width:70%;
    max-width: 70%;
    left:15%;
    text-align:center;
}

.upgrade_proversion{
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:70%;
    width:100%;
    top:15%;
}

.upgrade_proversion section{
    position:relative;
    width:30%;
    margin:4%;
    height:70%;
    background: linear-gradient(40deg,#539bdb,#8983f7 70%);
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:12px;
}

.upgrade_proversion h1{
    font-size:24px;
}

.upgrade_proversion h3{
    font-size:18px;
}

.upgrade_proversion li{
    list-style: none;
    text-align:left;
}

.upgrade_proversion button{
    padding: 1em;
    color:white;
    background-color: #3250bf;
    font-size:16px;
    cursor:pointer;
    transition:.3s ease all;
    border:0;
    border-radius: 12px;
}

@media (width<=766px){
    .upgrade_proversion{
        flex-direction: column;
    }
}

.datipaypal h1{
    color:white;
    margin-top:15%;
    margin-left:0;
}

.paypaloptions{
    position: absolute;
    width:80%;
    left:10%;
}

.squealer_page{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}

.squealer_page button{
    background-color:#212121;
    transition:0.4s;
    padding:1em;
    color:white;
    font-size:16px;
    border:0;
    border-radius:12px;
    margin:1%;
}

.squealer_page button:hover{
    background-color: #696969;
}

.newgroup{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
    text-align:center;
    align-items: center;
    justify-content: center;
}

.newgroup input{
    margin-bottom:1em;
}

.newgroup input[type="text"]{
    height:3em;
    width:40%;
    padding:1em;
    outline:none;
    border-radius:12px;
    font-size: 16px;
}

.newgroup select{
    height:3em;
    width:40%;
    font-size: 16px;
}

.newgroup label{
    font-size:16px;
    margin-bottom:0.3em;
}

.newgroup input[type="checkbox"]{
    height:20px;
    width:20px;
}

.newgroup .creationgroup{
    background-color:blue;
    padding: 0.8em 1em 0.8em 1em;
    font-size:16px;
    border:0;
    margin:1%;
    color:#f5f6f9;
    cursor:pointer;
    border-radius:5px;
}

.newgroup .addmessagesnewgroup{
    text-align: center;
    font-size:16px;
    width:40%;
    background-color: #141619;
    color:white;
    padding:0.6em;
    border:0;
    border-radius:12px;
    margin-bottom:30px;
}

.newgroup .addmessagesnewgroup:hover{
    background-color: #696969;
}

.messgroup{
    display:flex;
    flex-direction: row;
}

.messgroup p{
    color:white;
    background-color: #212121;
}

.messagegroup{
    display:flex;
    width:100%;
    height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messagegroup input[type="text"]{
    width:40%;
    outline:none;
    padding:1em;
    font-size:16px;
    height:3em;
    margin-bottom:30px;
}

.messagegroup select{
    width:40%;
    margin-bottom:30px;
}

.messagegroup button{
    background-color:blue;
    padding: 0.8em 1em 0.8em 1em;
    font-size:16px;
    border:0;
    margin:1%;
    color:#f5f6f9;
    cursor:pointer;
    border-radius:5px;
}