<h3>Register</h3>

<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type = "email" name = "email" required ngModel>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type = "username" name = "username" required ngModel>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type = "password" name = "password" required ngModel>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select name="role" required ngModel>
            <mat-option value="user">User</mat-option>
            <mat-option value="manager">Manager</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" type = "submit" [disabled]="!registerForm.valid">Register</button>
</form>