::-webkit-scrollbar{
    display: none;
}

*{
    box-sizing: border-box;
}

*:focus{
    outline:none;
}

body{
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    height:100%;
    width:100%;
}

.navbar{
    background-color: #212121;
    border-bottom: 2px solid white;
    height:80px;
}

main{
    position: relative;
    width:100%;
    height:calc(100% - 80px);
    background-color: #212121;
}

main>section{
    width:100%;
    height:100%;
    overflow-x:hidden;
    overflow-y:scroll;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.listsearch_find{
    position:relative;
    margin-top:2em;
    height:70%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.found{
    width:60%;
    position:relative;
    display:flex;
    flex-direction: row;
}

.found p{
    width:60%;
    margin-left:20%;
    position:relative;
    background-color: transparent;
    border:0;
    border-radius:12px;
    padding-top:0.6em;
    padding-bottom:0.6em;
    cursor:default;
    text-align: center;
    color:white;
}

.listsearch_find .showmore{
    background-color: #3250bf;
    color:white;
    width:25%;
    position:relative;
    border:0;
    border-radius:12px;
    padding-top:0.6em;
    padding-bottom:0.6em;
    cursor:pointer;
    text-align: center;
    transition: 0.4s;
}

.listsearch_find .showmore:hover{
    background-color: #539bdb;
}

.form-select{
    position:relative;
    max-width:200px;
    margin-top: 100px;
}

.filter{
    display:flex;
    flex-direction: row;
    width:80%;
    align-items: center;
    justify-content: center;
}

.filter p{
    color:white;
    font-size:20px;
    margin-right:1em;
    margin-left:1em;
    margin-top: 110px;
}

.filter input[type="date"]{
    color:white;
    font-size:18px;
    margin-top: 100px;
    background-color: #141619;
    border:1px solid white;
    padding:0.3em;
    border-radius: 8px;
}

.filter button{
    color:white;
    font-size:18px;
    margin-top: 100px;
    background-color: transparent;
    padding:0.3em 0.8em 0.3em 0.8em;
    border-radius: 8px;
    transition: 0.4s;
    border:0;
    margin-left:1em;
}

.filter button:hover{
    background-color: #696969;
}

.filter input[type="date"]::-webkit-inner-spin-button,
.filter input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
  
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Opzionale: può aiutare a gestire il layout */
}

.reactions{
    display:flex;
    flex-direction: row;
    height:100%;
    align-items: center;
}

.reactions img{
    height:30px;
    width:30px;
    cursor:pointer;
}

.reactions span{
    font-size:18px;
    margin-bottom:12px;
    margin-top: 12px;
}

.card-header{
    padding-bottom:0.8em;
    display:flex; 
    flex-direction: row;
    align-items: center;
}

.card-footer{
    padding-bottom:0.8em;
    display:flex; 
    flex-direction: row;
}

.card-header img{
    width:35px;
    height:35px;
    border-radius:50%;
    overflow: hidden;
    margin:0em 1em 0em 1em;
}

.card-header h5{
    color:white;
    margin-top:8px;
    width:75%;
}

.card-text{
    color:white;
}

.edithome{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    background-color: #212121;
}

.edithome header{
    position: relative;
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: center;
    margin-top:5%;
}

.edithome main{
    position: relative;
    display:flex;
    width:100%;
    height:80%;
    margin-top:3%;  
    flex-direction: column;
    align-items: center;
}

.edithome header img{
    width:50px;
    height:50px;
    border-radius:50%;
    overflow: hidden;
    margin:0em 1em 0em 1em;
}

.edithome header h3{
    color:white;
    margin-top:8px;
    margin-right:1em;
}

.edithome main p{
    color:white;
    font-size:18px;
}

.edithome main div{
    display:flex;
    flex-direction: row;
    margin-bottom:2em;
    justify-content: center;
    align-items: center;
}

.edithome main div p{
    text-align: left;
    margin-right:2em;
    min-width:300px;
    margin-top:8px;
}

.edithome main div input[type="number"]{
    background-color: #141619;
    padding:0.8em;
    border:1px solid white;
    border-radius:12px;
    width:200px;
    color:white;
    margin-right:1em;
    text-align:right;
}

.edithome header input[type="text"]{
    font-weight: bold;
    font-size:1.5em;
    background-color: #212121;
    border:0;
    color:white;
}

.edithome main h3{
    color:white;
    margin-bottom: 3%;
}

.edithome .nav{
    width:100%;
    flex-direction: row;
    justify-content: center;
    margin-top:2%;
}

.edithome .nav button{
    background-color: transparent;
    padding:0.6em 2em 0.6em 2em;
    color:white;
    border:0;
    transition: 0.4s;
}

.edithome main div img{
    width:40px;
    height:40px;
}

.search{
    position: absolute;
    display:inline-flex;
    padding: 5px;
    border-radius:50px;
    transition: 0.4s;
    background-color: #141619;
    top:4%;
    min-width:50px;
    min-height:50px;
    align-items:center;
    justify-content: center;
    left:calc((100% - 50px)/2);
}

.search img{
    height:35px;
    width:35px;
}

.search input{
    transition: 0.4s;
    border:0;
    background-color: transparent;
    font-size:20px;
    max-width:0px;
    padding:0;
    text-indent: 12px;
    color:#f5f6f9;
}

.search input::placeholder{
    color:rgba(255, 255, 255, 0.375);
}

.search:hover{
    left:calc((100% - 300px)/2);
}

.search:hover img{
    margin-left:5px;
}

.search:hover input{
    max-width:250px;
}

.sectioneditsquealreceiverslist div{
    display: flex;
    flex-direction: row;
}