<body>
  <div class="containerccanvas-container">
      <div class="row">
        <div class="col-md-12">
          <h2>Andamento delle Reazioni nel Tempo</h2>
          <!-- Aggiungi un canvas per il grafico -->
          <canvas id="myChart"></canvas>
        </div>
      </div>
  </div>
  <div class="container canvas-container">
    <div class="row">
      <div class="col-md-12">
        <h2>Andamento delle rapporto Reazioni pos/neg nel Tempo</h2>
        <!-- Aggiungi un canvas per il grafico -->
        <canvas id="myChartDifference" style = "margin-left: 10%;"></canvas>
      </div>
    </div>
  </div>
  <div class="container canvas-container">
    <div class="row">
      <div class="col-md-12">
        <h2>Andamento delle pubblicazioni nel tempo</h2>
        <!-- Aggiungi un canvas per il grafico -->
        <canvas id="myChartPosts"></canvas>
      </div>
    </div>
  </div>
</body>