<body>
    <h1>Credits</h1>
    <div class = "meaning-container">
        <h5>
            The SMM project was developed as a project for the Web Technologies course, taught by Prof. Vitali Fabio at the University of Bologna.
            The purpose is to create an application for managing a Squealer account, a social messaging network, which seeks to enter the market
            as an alternative to Twitter. The application was developed using the Angular framework, and interfaces with a server developed in Node.js.
            The development tools used are:
            <ul>
                <li>Visual Studio Code</li>
                <li>GitHub</li>
                <li>Node.js</li>
                <li>Angular</li>
                <li>Express</li>
                <li>MongoDB</li>
                <li>Docker</li>
            </ul>
            Angular Material components were used for graphics, and Chart.js was used for graph management, and Google Fonts services were used for fonts and logos.
        </h5>
    </div>
    <h2>Thanks to:</h2>
    <div class = "thanksTo-container"> 
        <h4>
            <ul>
                <li>First Dev. Gabriel Betti</li>
                <li>Second Dev. Giacomo Fornaciari</li>
                <li>Prof. Fabio Vitali</li>
                <li>Prof. Andrea Schimenti</li>
                <li>Spercial thanks to Vincenzo Rubano for the accessibility part</li>
            </ul>
        </h4>
    </div>
</body>